* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GothamRounded;
}

@font-face {
  font-family: GothamRounded;
  src: url(../fonts/GothamRoundedLight_21020.ttf);
}

p {
  color: #8c9398;
  line-height: 1.5;
}

header {
  width: 100%;
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 345px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 154px;
}

.menu {
  width: 27px;
  cursor: pointer;
}

.content-header {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  color: #353535;
  text-transform: uppercase;
  letter-spacing: 12px;
}

h1 span {
  color: #a1a9b0;
}

.content-header p {
  font-size: 15px;
  color: #8c9398;
  font-weight: 400;
  margin: 20px 0 45px 0;
}

.content-header p span {
  font-weight: 600;
  font-style: italic;
}

.btn {
  width: 200px;
  height: 60px;
  background-color: #3dc9b3;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  border-bottom: 3px solid #309383;
  color: #fff;
  cursor: pointer;
}

.portfolio {
  background-color: #f3f5f8;
  padding: 107px 0 127px;
  text-align: center;
}

.title {
  font-size: 15px;
  letter-spacing: 3px;
  padding-bottom: 26px;
}

.portfolio p {
  font-size: 14px;
  width: 742px;
  margin: auto;
  padding-top: 67px;
}

.portfolio p span {
  font-weight: 700;
  color: #353535;
}
.block-arrow {
  width: 15px;
  position: relative;
  margin: auto;
}

.arrow {
  width: 100%;
}

.block-arrow::before {
  content: "..........................................";
  position: absolute;
  color: #8c9398;
  bottom: 5px;
  right: 50px;
}

.block-arrow::after {
  content: "..........................................";
  position: absolute;
  color: #8c9398;
  bottom: 5px;
  left: 50px;
}

.skill {
  padding: 102px 0 122px 0;
  text-align: center;
}

.skill-block {
  display: flex;
  gap: 50px;
  margin-top: 88px;
  justify-content: space-between;
  align-items: baseline;
}

.skill-item {
  width: 339px;
  text-align: center;
}

.skill-item p {
  margin-top: 29px;
}

.skill-item img {
  margin-bottom: 51px;
}

.skill-block h3 {
  position: relative;
  padding-bottom: 26px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.skill-block h3::before {
  position: absolute;
  content: "";
  width: 33px;
  height: 2px;
  background-color: #3dc9b3;
  bottom: 0;
  left: 45%;
}

.services {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.services-iphone {
  width: 50%;
  height: 700px;
  background-image: url(../images/iPhone-5Ss.png);
  background-repeat: no-repeat;
  background-position: 25% 75%;
  background-size: inherit;
}

.services-iphone img {
  width: 100%;
}

.services-text {
  width: 50%;
  padding-top: 102px;
}

.services-text h3 {
  padding-bottom: 26px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

#one {
  margin-top: 44px;
  width: 455px;
  margin: auto;
}

#one .item {
  width: 455px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 71px;
  text-align: justify;
}

#one .owl-loaded {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#one .owl-nav {
  display: none;
}

#one .owl-dot.active span,
#one .owl-dot:hover span {
  background: #212024;
}

#one .owl-dot span {
  border: 2px solid #c9cbca;
  background-color: transparent;
  width: 12px;
  height: 12px;
}

#one .owl-dots,
#one .owl-nav {
  margin-top: 71px;
}

.counter {
  width: 100%;
  background-image: url(../images/i-got-99-problems.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 81px 0 55px 0;
  text-align: center;
}

.counter h2 {
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 10px;
  margin-bottom: 28px;
}

.counter p {
  margin: 28px 0 43px 0;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 7.5px;
  color: #ffffff;
}

.counter span {
  font-weight: 600;
  font-style: italic;
}

.counter img {
  cursor: pointer;
}

.projects {
  padding: 109px 0 104px 0;
}

#two .gallery-item {
  position: relative;
}

#two .view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

#two .view p {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

#two .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#two .gallery-item:hover .view {
  background-color: #10c9c3;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#two .fa-magnifying-glass {
  font-size: 28px;
  color: #ffffff;
  margin-top: 50px;
}

#two .item,
#three .item {
  text-align: center;
  width: 361px;
  margin: auto;
}

#two h3,
#three h3 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  color: #353535;
  margin-top: 45px;
  position: relative;
  padding-bottom: 18px;
}

#two h3::before,
#three h3::before {
  position: absolute;
  content: "";
  width: 33px;
  height: 2px;
  background-color: #3dc9b3;
  bottom: 0;
  left: 45%;
}

#two p,
#three p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 45px;
  margin-top: 32px;
}

#two .owl-nav,
#three .owl-nav {
  display: none;
}

#two .owl-dot.active span,
#two .owl-dot:hover span,
#three .owl-dot.active span,
#three .owl-dot:hover span {
  background: #212024;
}

#two .owl-dot span,
#three .owl-dot span {
  border: 2px solid #c9cbca;
  background-color: transparent;
  width: 12px;
  height: 12px;
}

.block-click {
  background-color: #242830;
  padding: 65px 0 61px 0;
  text-align: center;
}

.block-click-btn {
  width: 294px;
  height: 74px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.team {
  padding: 88px 0 107px 0;
  text-align: center;
}

.team h2 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  color: #353535;
  padding-bottom: 26px;
}

.team-social {
  margin: 36px 0 91px 0;
  display: flex;
  gap: 11px;
  justify-content: center;
}

#three {
  margin-top: 61px;
}

#three .photo-team {
  width: 218px;
  display: inline-block;
}

#three .team-icon img {
  cursor: pointer;
}

#three .team-icon img:hover,
#three .team-icon img:focus {
  background-image: #3dc9b3;
}

.subscribe {
  background-image: url(../images/subscribe.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 122px 0 155px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.subscribe-up {
  width: 25px;
  margin: auto;
}

.subscribe h3 {
  margin: 44px 0 43px 0;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  color: #ffffff;
}

.subscribe input {
  background-color: transparent;
  width: 351px;
  height: 65px;
  border: 1px solid #ffffff;
  outline: none;
  padding: 15px;
  color: #ffffff;
  margin-right: 7px;
}

.subscribe-swip {
  position: absolute;
  right: 48.5%;
  bottom: -20px;
  z-index: 1;
  cursor: pointer;
  width: 50px;
}

.subscribe-btn {
  width: 97px;
  height: 65px;
  border: 1px solid #3dc9b3;
  background-color: #3dc9b3;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2.25px;
  color: #ffffff;
  text-transform: uppercase;
}

footer {
  padding: 126px 0 113px 0;
  background-color: #f3f5f8;
  text-align: center;
}

footer h2 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  color: #353535;
  margin-bottom: 26px;
}

.footer-adress {
  margin: 98px 0 112px 0;
  display: flex;
  gap: 30px;
  margin-bottom: 99px;
  justify-content: space-between;
}

.footer-adress .block {
  width: 360px;
  box-shadow: 0 3px 0 #f0f2f4;
  background-color: #ffffff;
  padding: 29px 0 31px 0;
}

.footer-adress h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  color: #3dc9b3;
  margin: 20px 0 30px 0;
}

.footer-adress p {
  font-size: 14px;
  font-weight: 500;
}

.footer-social a {
  margin-right: 21px;
}

.footer-social a:last-child {
  margin-right: 0;
}

.after-footer {
  background-color: #242830;
  padding: 55px 0 51px 0;
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 720px;
  }

  .portfolio p {
    width: 90%;
  }

  .skill-block {
    gap: 24px;
  }

  .skill-block h3::before {
    left: 42%;
  }

  .services-iphone {
    display: none;
  }

  .services-text {
    width: 100%;
    padding: 50px 0 95px 0;
  }

  #two .item {
    width: 100%;
  }

  #three .item {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 280px;
  }

  .skill-item {
    width: 280px;
  }

  .skill-block h3::before {
    left: 44%;
  }

  .skill {
    padding-bottom: 70px;
  }

  .skill-block {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .block-arrow::after {
    content: ".........................";
  }

  .block-arrow::before {
    content: ".........................";
  }

  .services-text {
    max-width: 280px;
    padding: 50px 0 95px 0;
    margin: auto;
  }

  #one .item-carousel {
    width: 280px;
    text-align: center;
  }

  #one .owl-carousel {
    width: 280px;
  }

  .counter img {
    width: 35px;
  }

  .counter h2 {
    font-size: 30px;
  }

  .counter p {
    font-size: 15px;
  }

  #one {
    width: 280px;
  }

  #one .item {
    width: 280px;
    text-align: center;
  }

  .block-click-btn {
    width: 250px;
    height: 70px;
  }

  .subscribe input {
    width: 250px;
    margin-bottom: 20px;
  }

  .subscribe-swip {
    right: 43%;
  }

  #three .item {
    width: 280px;
  }

  .footer-adress {
    flex-direction: column;
  }

  .footer-adress .block {
    width: 280px;
  }

  .after-footer {
    text-align: center;
  }
}
